<p>Welcome to the message board, posts on interesting links and urls will be here as well as blog posts, if any.</p>

<ul>
	<li><a href="http://dalkescientific.com/StacklessPyCon2007-Dalke.pdf"> Pycon 2007 stackless python</a></li>
	<li><a href="http://www.grant-olson.net/files/why_stackless.html"> EVE developers blog on stackless python </a></li>
	<li><a href="http://aspell.net/"> Command line spell checker</a></li>
	<li><a href="https://javascriptweblog.wordpress.com/2011/05/31/a-fresh-look-at-javascript-mixins/">JS mixins</a></li>
	<li><a href="https://en.wikipedia.org/wiki/Currying">curry ^ haskell</a></li>
</ul>

<br/><br/>

<b>Here are some cool projects on Github</b>

<div class="line-top" sytle="width:100%;">
</div>


<dl>
	<dt>
		<a href="https://github.com/jcjohnson/neural-style" target="_blank">Neural
			Artwork</a>
	</dt>
	
	
	<dd>Pretty cool project where they use neural networks to make an art style
		that is then added to another image to create a blend.</dd>
	
	
	<dt>
		<a href="https://github.com/servo/servo" target="_blank">Servo</a>
	</dt>
	
	
	<dd>A web browser made in Rust. Like to thread the needle.</dd>
	
	
	<dt>
		<a href="https://github.com/sepalani/MH3SP" target="_blank">MH3</a>
	</dt>
	
	
	<dd>Not Running at the momnet, but still pretty cool.</dd>
</dl>
