<p>You are a weary traveller in need of information, yet somehow you find your self stumbled across my site. As you begin your search can see I am one of those bugs that glue them selves to the screen in search of &quot;Greater Truths&quot; for everything is binary. Unless you introduce quantum into the mix. That makes no one happy... </p>

					<p>Anyway welcome to my site that has been strapped up and ready to go. In projects you will see some Git projects that I have worked on though out the many ages. The about page will be left blank until further contributed by others. I am a Linux fan but don't expect me to install a full Arch Linux setup. I'm not that good. </p>

					<p>A good quote that is funny but, quite relevant.</p>
					<blockquote>
						<p>Everyone knows that debugging is twice as hard as writing a program in the first place, So if you're as clever as you can be when you write it, how will you ever debug it?</p>
						<footer>Brian W. Kernighan</footer>
					</blockquote>
					<p>Take a look at Linus Torvalds double pointer, linked list problem to test your skills on how much you understand a pointers or just have a good review. Pretty cool.</p>
					
					<b>Here are some cool projects on Github</b>
					<div class="line-top" sytle="width:100%;">
					</div>
					<dl>
						<dt><a href="https://github.com/jcjohnson/neural-style" target="_blank">Neural Artwork</a></dt>
						<dd>
							Pretty cool project where they use neural networks to make an art style that is then added to another image to create a blend.
						</dd>
						<dt><a href="https://github.com/servo/servo" target="_blank">Servo</a></dt>
						<dd>
							A web browser made in Rust. Like to thread the needle.
						</dd>
						<dt><a href="https://github.com/sepalani/MH3SP" target="_blank">MH3</a></dt>
						<dd>
							Not Running at the momnet, but still pretty cool.
						</dd>
					</dl>