<h4><a href="http://mangafox.me/manga/panlong/">panlong</a></h4>

<p>Linley is a young noble of a declining, once-powerful clan which once dominated the world. He has large aspirations and wants to save his clan. 
Linley's journey begins with an accident when he discovers a ring. He took a liking to this ring, which had a dragon carved coiling around it. 
Upon being injured during a battle between two powerful fighters he discovers that his ring is not what he thought it was and possesses powers beyond his imagination.</p>

<h4><a href="http://mangafox.me/manga/joshi_kausei/">joshi kausei</a></h4>

<p>Following the daily life and adventures of Momoko-chan, an eccentric and carefree high-school girl.</p>

<h4><a href="http://mangafox.me/manga/joou_no_hana/">Joou no Hana</a></h4>

<p>Long ago, there existed a land divided into four countries: Sou, Kou, Do, and Ah. The King of Ah took on a wife from Kou and soon thereafter one from Do,
 creating a shaky alliance between the three nations. When the Second Queen gave birth to a son, the King cast aside the sickly First Queen and her 
daughter Aki into the depths of the Palace. But as Fate would have it, Princess Aki encounters a slave named Hakusei, who has peculiar golden hair and sky blue eyes. 
He promises his life to her and helps her train in the Six Arts under the guidance of the enigmatic merchant Seitetsu. However, when Aki outshines the Prince during 
a hunt in an attempt to gain her father's acknowledgement, she sparks a war by besmirching Do's honor and drives the Second Queen to poison her mother. 
With nothing left but her faithful Hakusei, Aki is banished to the small country of Kou with a vow to return to Ah one day for revenge. But in the face of the
 mighty allied nations of Do and Ah, will the two survive long enough to carry out Aki’s vow?</p>

<h4><a href="http://mangafox.me/manga/marginal_operation/">Marginal Operation</a></h4>

<p>A mind breaking manga that will change the way you think of actions</p>

<h4><a href="http://mangafox.me/manga/i_the_female_robot/">I the Female Robot</a></h4>

<p>17 year-old Qi was diagnosed with an incurable disease at a young age. Doctors warned that she would probably die by the age of 20; however, 
Qi's genius with robotics allowed her to create robots to act and hands and legs for her when her body became too weak. Yet despite all her genius 
with robotics, Qi's dream to replace her dying body with an entirely robotic one seems an impossible one. However, just as Qi's body seems finally
 ready to give out and she is on the verge of death, something unexpected occurs...</p>

<h4><a href="http://mangafox.me/manga/white_epic/">White Epic</a></h4>

<p>In an era where monsters threaten both humans and outlaws, ascetics arise to fight back over the past 500 years. Some of them were heroes, some of 
them were prophets, some of them were just ascetics going from place to place, in order to protect people from being devoured and the lands from being corrupted.</p>

<p>Baek So-Juh is a girl isolated from her village by other youngsters, since she knows how to read and write. On a night in the bush of the outskirt, she witnesses 
monsters eating a corpse, just to encounter the next day a boy who happens to be an ascetic on the hunt for those same man eater monsters, calling himself 
Hong Kil-Dong. From then on, she decides to follow him in order to write the story of his life.</p>

<h4><a href="http://mangafox.me/manga/iris_zero/">Iris Zero</a></h4>

<p>In a world where every boy and girl has a special power called Iris, Toru who, as a result of not having any kind of special power, was bullied from a young age, lives
 by his motto: “low exposure” – to live without standing out. But his peaceful school life changes when he receives a certain "Confession" from the schools most popular 
girl, Koyuki. His motto begins to shake!!</p>

<p>The school fantasy story that shakes the heart begins with their meeting.</p>

<h4><a href="http://mangafox.me/manga/horimiya/">Horimiya</a></h4>

<p>Hori is your average teenage girl... who has a side she wants no one else to ever find out about. Then there's her classmate Miyamura, your average glasses-wearing 
boy in school and a totally different person out. When the two meet unexpectedly, they discover each others' secrets and develop an unexpected friendship.</p>

<h4><a href="http://mangafox.me/manga/gosu/">Gosu</a></h4>

<p>A young man set forth to avenge his master, a once powerful martial artist who was betrayed by his own men and barely escaped with his life. Armed with his master's
 supreme martial art techniques, he is ready to bring terror and wreak havoc among the murim. But before he even got started, he learns that the ones who had betrayed 
his master are already dead... Erm, so what happens now?</p>

<h4><a href="http://mangafox.me/manga/colette_wa_shinu_koto_ni_shita/">Colette wa Shinu Koto ni Shita</a></h4>

<p>Meet Colette, a young doctor. Since she's the only doctor in town, she has to attend to everything, and quite honestly, she thinks she needs a break. One day, she's so frazzled
 that she jumps into a well. But, she didn't die? Instead, she finds herself in the underworld, where she encounters Lord Hades. Somehow or the other, she becomes Hades' doctor.
 Follow Colette in her new (though still busy) life, now with Hades thrown into the picture!</p>

<h4><a href="http://mangafox.me/manga/hero_waltz/">Hero Waltz</a></h4>

<p>A secret project to create an artificial Superhero. A story of a boy who didn't want to become a weapon and his girl classmate.</p>

<h4><a href="http://mangafox.me/manga/otoyomegatari/">Otoyomegatari</a></h4>

<p>Set in Central Asia in a rural town near the Caspian Sea during the early 19th century, the story revolves around a young woman, Amir, who arrives from a distant village across 
the mountains to marry Karluk, a boy eight years her junior. The story unfolds among details of everyday family and community life. However, the peaceful atmosphere is
 disturbed when Amir's family demands to take her back to their village.</p>

<h4><a href="http://mangafox.me/manga/mononoke_sharing/">MONONOKE SHARING</a></h4>

<p>Because of her family's poverty Yata, a high school student, was searching for a really cheap lodging. And she found it in a certain shared-house type apartment.
Each of the residents of which happened to be, surprise-surprise, some kind of demon (with big mammaries also)! And so the story of a bit lewd, sometimes bizarre
 and often noisy cohabitation of Yata and others at human world, receiving those big-breasted demon-girls trying to fit in, is getting started!..</p>

<h4><a href="http://mangafox.me/manga/love_so_life/">Love so life</a></h4>

<p>Shiharu is a high school student who loves kids, lives in an orphanage, and works at a daycare... Until the handsome uncle of two-year-old twins offers her a raise if she'll be
 their babysitter. Often relying on memories of her mother's actions for guidance, Shiharu quickly finds herself falling in love with her new makeshift family.</p>

<h4><a href="http://mangafox.me/manga/yae_no_sakura/">Yae no Sakura</a></h4>

<p>A dramatization of the real life of Yaeko Yamamoto. Over 100 years ago, Yaeko broke traditional Japanese stereotypes, gender, and honor to become a gun-warrior 
in defense of her homeland of Aizu.</p>

<h4><a href="http://mangafox.me/manga/taiyou_no_ie/">taiyou No le</a></h4>

<p>"Back in the day, this place was like a house of magic. Surely there must have been an invisible wizard living here in such a place so filled with both tears and laughter. Or so I used to think."
What’s a young child to do when her mother leaves her father for another man? Or when her father remarries a woman who brings along a child from a previous marriage? Or when her 
childhood neighbor friend invites her to live with him?</p>

<h4><a href="http://mangafox.me/manga/system_of_romance/">System of Romance</a></h4>

<p>A girl has sex with a man she met on a chatline. She later learns a dark secret about the man, only to meet him again under less-than-favorable circumstances. This is a short oneshot that 
will leave you confused and wanting more.</p>

<h4><a href="http://mangafox.me/manga/robotics_notes_senomiya_misaki_no_mihappyou_shuki/">Robotics;notes Senomiya Misaki no Mihappyou Shuki</a></h4>

<p>Have not read it in a while, but it was pretty good.</p>
